body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Gotham, sans-serif;
    color: #393c41;


}

/*----------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 50px 0px;
    margin: 0;
    position: fixed;
    z-index: 100;


}

header img{
    height: 25px;
    margin: 0px 50px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0 50px;

}

nav ul li{
    background-color: black;
    width: 45px;
    height: 5px;
    margin: 8px;
}


/*---------------CONTENT---------------*/

main{

    white-space: nowrap;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

#overlay{
    position: fixed;
    z-index: 100;
}

a{
    color: #393c41
}

p{
    font-size: 2.3em;
    margin: 55px 10vw 0;
    max-width: 80vw;

}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    scroll-snap-align: start;

}

section h1{
    font-size: 6em;
    font-weight: 400;
    font-style: normal;
}

section .title-link{
    font-size: 2.2em;
}

section .button-1{
    background-color: #171A20cc;
    padding: 30px 0vw;
    width: 90vw;
    margin: 45vh 0 0 0;
    border-radius: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;


}

section .button-2{
    background-color: #FFFFFFA6;
    padding: 30px 0vw;
    width: 90vw;
    margin: 40px 0 0 0;
    border-radius: 100px;
    color: #171A20;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;

}

section img{
    width: 60px;
    margin: 40px; 0 0 0;
}


/*----------------BLOK 1-----------------*/

main > section:nth-child(1) {
    background-image: url(../images/mobile_model_3_v2.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;


}

main section:nth-child(1) h1 {
    margin-top: 20vh;
    margin-bottom: 0px;
}

main > section:nth-child(1) > section:nth-child(1) {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
}

/*----------------BLOK 2-----------------*/

main > section:nth-child(2) {
    background-image: url(../images/Mobile-ModelS.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;

}

main > section:nth-child(2) > section:nth-child(1) {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}

/*----------------BLOK 3-----------------*/

main > section:nth-child(3) {
    background-image: url(../images/Mobile-ModelX.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main > section:nth-child(3) > section:nth-child(1) {
    z-index: 4;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

}

/*----------------BLOK 2-----------------*/

main > section:nth-child(4) {
    background-image: url(../images/Mobile-ModelY.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main > section:nth-child(4) > section:nth-child(1) {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

}

/*----------------BLOK 5-----------------*/

main > section:nth-child(5) {
    background-image: url(../images/Mobile-SolarPanels.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main > section:nth-child(5) > section:nth-child(1) {
    z-index: 6;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

}

/*----------------BLOK 6-----------------*/

main > section:nth-child(6) {
    background-image: url(../images/Mobile-Accessories.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main > section:nth-child(6) > section:nth-child(1) {
    z-index: 7;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}

/*----------------OVERLAY-----------------*/





/*----------------FOOTER-----------------*/


footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    z-index: 200;


}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    width: 80vw;
    font-size: 2em;
    text-align: center;
    margin: 20px 0 ;

    animation: fadeIn, ease 20s;
}












/*keyframes*/

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}




/*fonts*/


@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('/fonts/Gotham-XLightItalic.woff') format('woff'),
        url('/fonts/Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('/fonts/Gotham-MediumItalic.woff') format('woff'),
        url('/fonts/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('/fonts/Gotham-LightItalic.woff') format('woff'),
        url('/fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BoldItalic.woff') format('woff'),
        url('/fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/fonts/Gotham-Medium.woff') format('woff'),
        url('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium_1.woff2') format('woff2'),
        url('/fonts/Gotham-Medium_1.woff') format('woff'),
        url('/fonts/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff2') format('woff2'),
        url('/fonts/Gotham-Light.woff') format('woff'),
        url('/fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff'),
        url('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff'),
        url('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BookItalic.woff') format('woff'),
        url('/fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Thin.woff2') format('woff2'),
        url('/fonts/Gotham-Thin.woff') format('woff'),
        url('/fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BookItalic_1.woff2') format('woff2'),
        url('/fonts/Gotham-BookItalic_1.woff') format('woff'),
        url('/fonts/Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff'),
        url('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-XLight.woff2') format('woff2'),
        url('/fonts/Gotham-XLight.woff') format('woff'),
        url('/fonts/Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('/fonts/Gotham-UltraItalic.woff') format('woff'),
        url('/fonts/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('/fonts/Gotham-ThinItalic.woff') format('woff'),
        url('/fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light_1.woff2') format('woff2'),
        url('/fonts/Gotham-Light_1.woff') format('woff'),
        url('/fonts/Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold_1.woff2') format('woff2'),
        url('/fonts/Gotham-Bold_1.woff') format('woff'),
        url('/fonts/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

