/*fonts*/

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium_1.woff2') format('woff2'),
        url('../fonts/Gotham-Medium_1.woff') format('woff'),
        url('../fonts/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.woff2') format('woff2'),
        url('../fonts/Gotham-XLight.woff') format('woff'),
        url('../fonts/Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light_1.woff2') format('woff2'),
        url('../fonts/Gotham-Light_1.woff') format('woff'),
        url('../fonts/Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold_1.woff2') format('woff2'),
        url('../fonts/Gotham-Bold_1.woff') format('woff'),
        url('../fonts/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Gotham, sans-serif;
    color: #393c41;


}

/*----------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2em 0;
    margin: 0;
    position: fixed;
    z-index: 100;


}

header img{
    height: 1em;
    margin: 0 2em;
}

nav:nth-of-type(1){
    z-index: 1000;
}

nav:nth-of-type(1) span {
    display: flex;
    flex-direction: column;
    margin: 0 3em;
    padding: 0;
}

nav:nth-of-type(1) span span{
    background-color: black;
    width: 2em;
    height: 4px;
    margin: 0.2em;
}

/*
#modelx nav:nth-of-type(1) ul li{
    background-color: white;
}
*/

button{
    background: none;
    border: none;
}

nav:nth-of-type(2) {
    z-index: 101;
    background-color: white;
    height: 100vh;
    width: 19em;
    position: absolute;
    top: 0;
    right: -19em;
    color: black;
    opacity: 0;
    pointer-events: none;
}

nav:nth-of-type(2) li{

    padding: 1.5em 0;    list-style: none;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;

}

nav li:nth-of-type(1){
    margin-top: 5em;

}

nav:nth-of-type(2) li a{
    text-decoration: none;
}

nav.menushown{
    opacity: 1;
    pointer-events: all;
    animation: SlideIn 0.5s;
    animation-fill-mode: forwards;
}

.navbuttonshown{
    z-index: 10000;
}

/*---------------CONTENT---------------*/

main{

    white-space: nowrap;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

#overlay{
    position: fixed;
    z-index: 100;
    height: 100vh;
}

a{
    color: #393c41
}

p{
    font-size: 1em;
    margin: 4vh 10vw 0;
    max-width: 80vw;

}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;

}

section h1{
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    margin-top: 20vh;
    margin-bottom: 0;
    animation: fadeIn 2s;
}

section h2{
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    margin-top: 20vh;
    margin-bottom: 0;
    animation: fadeIn 2s;
}

#modelx section h2{
    margin-top: 0;
}
section .title-link{
    font-size: 1em;
    animation: fadeIn 2s;
}

/*---BUTTONS---*/

section .buttonwrapper{
    display: flex;
    flex-direction: column;
    margin: 20vh 0 0 0;
    animation: fadeIn 2s;
}

section .buttonwrapper .button-1{
    background-color: #171A20cc;
    padding: 0.5em 0vw;
    width: 90vw;
    margin: 9em 0 0 0;
    border-radius: 100em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;


}

section .buttonwrapper .button-2{
    background-color: #FFFFFFA6;
    padding: 0.5em 0;
    width: 90vw;
    margin: 40px 0 0 0;
    border-radius: 100em;
    color: #171A20;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;

}

section img{
    width: 4em;
    margin: 2vh 0 0 0;
    animation: fadeIn 2s;
}




/*----------------BLOK 1-----------------*/

main > section:nth-child(1) {
    background-image: url("../images/desktop_model_3_v2.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

main > section:nth-child(1) div > section:nth-child(1) {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
}

/*----------------BLOK 2-----------------*/

main > section:nth-child(2) {
    background-image: url("../images/Desktop-ModelS.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

main > section:nth-child(2) > section:nth-child(1) {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 3-----------------*/

main > section:nth-child(3) {
    background-image: url("../images/Desktop-ModelX.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(3) > section:nth-child(1) {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 4-----------------*/

main > section:nth-child(4) {
    background-image: url("../images/Desktop-ModelY.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(4) > section:nth-child(1) {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 5-----------------*/

main > section:nth-child(5) {
    background-image: url("../images/Desktop-SolarPanels.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(5) > section:nth-child(1) {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

}

/*----------------BLOK 6-----------------*/

main > section:nth-child(6) {
    background-image: url("../images/Desktop-Accessories.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 0 25vh 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(6) > section:nth-child(1) {
    z-index: 7;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

/*----------------OVERLAY-----------------*/





/*----------------FOOTER-----------------*/


footer {
    position: absolute;
    bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    z-index: -1;

}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    width: 80vw;
    font-size: 1em;
    text-align: center;
    margin: 2vh 0 ;
}

#modelx footer{
        display: none;
}

/*    animation: fadeIn, ease 20s;*/
}






/*END OF HOME PAGE*/

/*START MODEL X PAGE*/

/*RESET text*/

#modelx h2{
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: auto;
}

h4{
    margin: 0;
}

#modelx p {
    margin: auto;
    max-width: 100%
}

#modelx main{
    white-space: pre-wrap;
}


/*----------------BLOCK 1-----------------*/

#modelx main > section:nth-child(1) {
    background-image: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    height: 100%;
    z-index: 1;
    color: white;
}

video{
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    overflow-x: hidden;
}

section:nth-child(1) .specbanner {
    display: flex;
    max-width: 100vw;
    margin-top: 50vh;
}

#modelx section:nth-child(1) a {
    color: white;
    text-decoration: none;
    padding: 1em 5em;
    border: white solid;
    border-width: 0.2em;
    border-radius: 2em;
    margin-top: 3vh;

}

section:nth-child(1) .specbanner div{
    display: flex;
    flex-direction: column;
    width: 10em;
    justify-content: center;
    border-right: white solid;
    border-width: 1px;
}

#modelx section:nth-child(1) .specbanner div:nth-of-type(3){
    border: none;

}

/*----------------BLOCK 2-----------------*/

#modelx main > section:nth-child(2) {
    display: flex;
    background-color: white;
    background-image: none;
    background-size: auto;
    margin: 0px;
    padding: 0px;
    pointer-events: none;

    flex-direction: row;
    z-index: 1;
    opacity: 1;

}

#modelx main > section:nth-child(2) > h2:nth-child(1){
    display: none;
}

#modelx main > section:nth-child(2) > section:nth-child(1) {
    background-image: none;
    z-index: 1;
    position:relative;
    left: auto;
    top: auto;
    opacity: 1;
    width: 100%;
}

#modelx main section #block2-1 h2{
    align-self: flex-start;
    margin: 15vh 0 3vh 0;
}


#modelx main section #block2-1{
    z-index: 1;
    width: 20vw;
    background-color: white;
    padding: 0 3em 0 3em;

}

#modelx main section #block2-2{
    z-index: 1;
    width: 80vw;
    background-image: url("../images/safety-model-x-hero.png");
    background-color: whitesmoke;
}

#modelx main section #block2-2 h2{
    display: none;
}

/*----------------BLOK 3-----------------*/

#modelx main > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    height: 100vh;
    opacity: 1;
}

#modelx main > section:nth-child(3) > h2:nth-child(1){
    display: none;
}

#modelx main > section:nth-child(3) > section:first-of-type > h2:first-of-type{
    display: none;
}

#modelx main > section:nth-child(3) > section:nth-child(1) {
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
}


#modelx main section #block3-1{
        z-index: 1;
        background-image: url("../images/modelx-snow.jpg");
        background-size: cover;
        height: 70vh;
        width: 100%;
        opacity: 1;
}

#modelx #block3-1 .specbanner{
        margin-top: 55vh;
        color: black;
        display: flex;
        flex-direction: row;
}

#modelx section:nth-child(3) .specbanner div{
        display: flex;
        flex-direction: column;
        width: 10em;
        justify-content: center;
        border-right: black solid;
        border-width: 1px;
}


#modelx main section #block3-2{
        z-index: 1;
        background-color: white;
        height: 30vh;
        width: 100%;
        opacity: 1;
        flex-direction: row;
}

#modelx main section #block3-2-1{
        width: auto;
        padding-left: 10vw;
}

#modelx main section #block3-2-1 button{
        border: 2px solid;
        border-color: black;
        border-radius: 4em;
        padding: 1em 5em;
        margin: 2em 0;
}

#modelx main section #block3-2-2{
        width: 50vw;
        padding: 5vh 5vw;
}

#modelx main section #block3-2 h3{
        margin: 0;
        font-weight: 100;

}

/*----------------BLOK 4-----------------*/

#modelx main > section:nth-child(4) {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-image: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    height: 100vh;
    opacity: 1;
}

#modelx main > section:nth-child(4) > h2:first-of-type{
    display: none;
}

#modelx main > section:nth-child(4) > section:first-of-type > h2:first-of-type{
    display: none;
}

#modelx main > section:nth-child(4) > section:nth-child(1) {
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
}


#modelx main section #block4-1{
        z-index: 1;
        background-image: url("../images/range-hero-poster.png");
        background-size: cover;
        height: 100vh;
        width: 100vw;
        opacity: 1;
}

#modelx #block4-1 .specbanner{
        margin-top: 55vh;
        color: white;
        display: flex;
        flex-direction: row;
}

section:nth-child(4) .specbanner div{
    display: flex;
    flex-direction: column;
    width: 10em;
    justify-content: center;
    border-right: white solid;
    border-width: 1px;
}


#modelx main section #block4-2{
        z-index: 1;
        background-color: white;
        height: 100vh;
        width: 30vw;
        opacity: 1;
        flex-direction: column;
        align-items: center;
}

#modelx main section #block4-2-1{
        width: 19vw;
        padding: 0vh 5vw;


}

#modelx main section #block4-2-2{
        width: 19vw;
        padding: 0vh 5vw;
}

#modelx main section #block4-2-2 button{
        border: 2px solid;
        border-color: black;
        border-radius: 4em;
        padding: 1em 5em;
        margin: 2em 0;
}

#modelx main section #block4-2 h3{
        margin: 0;
        font-weight: 100;

}
/*----------------BLOK 5-----------------*/

#modelx main > section:nth-child(5) {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: none;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    height: auto;
    opacity: 1;
}

#modelx main > section:nth-child(5) > h2:first-of-type{
    display: none;
}

#modelx main > section:nth-child(5) > section:first-of-type > h2:first-of-type{
    display: none;
}

#modelx main > section:nth-child(5) > section:nth-child(1) {
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
}


#modelx main section #block5-1{
        z-index: 1;
        background-image: url("../images/modelx-black.jpg");
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 100vw;
        opacity: 1;
}

#modelx #block5-1 .specbanner{
        margin-top: 55vh;
        color: black;
}


#modelx main section #block5-2{
        z-index: 1;
        background-color: black;
        height: 80vh;
        width: 100vw;
        padding-bottom: 10vh;
        opacity: 1;
        flex-direction: row;
        justify-content: center;
        color: white;
}

#modelx main section #block5-2-1{
        width: auto;
        padding-left: 10vw;
}

#modelx main section #block5-2-2{
        width: 100vw;
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;
}

#modelx main section #block5-2-2 ul{
        list-style: none;
        height: auto;
        padding: 1em;
        margin: 0;
        max-width: 40vw;
}

#modelx main section #block5-2-2 li{
        height: 5em;
}

#modelx main section #block5-2 h3{
        margin: 0;
        font-weight: 100;

}


/*keyframes*/

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes SlideIn {
    0% {transform: translateX(0);}
    100% {transform: translateX(-19em);}
}


/*Mobile only*/
@media screen and (max-width: 800px) {
    main > section:nth-child(1) {
    background-image: url("../images/mobile_model_3_v2.jpg");
    }
    main > section:nth-child(2) {
    background-image: url("../images/Mobile-ModelS.jpg");
    }
    main > section:nth-child(3) {
    background-image: url("../images/Mobile-ModelX.jpg");
    }
    main > section:nth-child(4) {
    background-image: url("../images/Mobile-ModelY.jpg");
    }
    main > section:nth-child(5) {
    background-image: url("../images/Mobile-SolarPanels.jpg");
    }
    main > section:nth-child(6) {
    background-image: url("../images/Mobile-Accessories.jpg");
    }

    #modelx p{
    margin: 0 2em;
    }

/*BLOCK1*/

section:nth-child(1) .specbanner {
    margin-top: 45vh;
    }

/*BLOCK2*/
    #modelx main > section:nth-child(2) {
    flex-direction: column-reverse;
    height: 70vh;
    }

    #modelx main section #block2-1{
    height: 30vh;
    width: 100vw;
    padding: 0;
    }

    #modelx main section #block2-1 h2{
    margin: 0.5em 1em;
    }

    #modelx main section #block2-2{
    height: 50vh;
    width: 100vw;
    background-position: center left;
    }


/*BLOCK3*/
    #modelx main > section:nth-child(2) {

    }


    #modelx main section #block3-2{
    flex-direction: column-reverse;
    height: auto;
    }

    #modelx #block3-1 .specbanner{
    margin-top: 37vh;
    }

    #modelx #block3-2 p{
    width: 80vw;
    }

    #modelx main section #block3-2-2{
    width: 100vw;
    padding: 5vh 5vw 0 5vw;
    }

    #modelx main section #block3-2-1{
    width: 100vw;
    }

/*BLOCK4*/
    #modelx main > section:nth-child(4) {
    flex-direction: column;
    height: 160vw;
    }

    #modelx main section #block4-1 .specbanner{
    margin-top: 30vh;
    }

    #modelx main section #block4-2-1{
    width: 80vw;
    padding: 0;
    margin:  0 2em;

    }

    #modelx main section #block4-2-2{
    width: 90vw;
    padding: 0 5vw;
    }

    #modelx #block4-2 p{
    width: 80vw;
    }

    #modelx main section #block4-2{
    width: 100vw;
    }


}

/*Desktop only*/
@media screen and (min-width: 800px) {

/*BLOCK5   */
    #modelx main > section:nth-child(5) {
    flex-direction: row;
    }

    #modelx main section #block5-1{
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    }

    #modelx main section #block5-2{
    width: 50vw;
    height: 100vh;
    padding: 0;
    }
}






