body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Gotham, sans-serif;
    color: #393c41;


}

/*----------------HEADER----------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 50px 0px;
    margin: 0;
    position: fixed;
    z-index: 100;


}

header img{
    height: 1em;
    margin: 0px 50px;
}

nav:nth-of-type(1){
    z-index: 1000;
}

nav:nth-of-type(1) ul {
    list-style: none;
    margin: 0 50px;
    padding: 0;
}

nav:nth-of-type(1) ul li{
    background-color: black;
    width: 2em;
    height: 4px;
    margin: 0.4em ;
}

button{
    background: none;
    border: none;
}

nav:nth-of-type(2) {
    z-index: 101;
    background-color: white;
    height: 100vh;
    width: 19em;
    position: absolute;
    top: 0;
    right: 0;
}
nav:nth-of-type(2) li{

    padding: 1.5em 0;    list-style: none;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;

}

nav li:nth-of-type(1){

    margin-top: 5em;

}

nav:nth-of-type(2) li a{
    text-decoration: none;
}

.menuhidden{
    opacity: 0;
    pointer-events: none;
}

.menushown{
    opacity: 1;
    pointer-events: all;
}

.navbuttonoff{

}

.navbuttonshown{
    z-index: 10000;
}

/*---------------CONTENT---------------*/

main{

    white-space: nowrap;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

#overlay{
    position: fixed;
    z-index: 100;
}

a{
    color: #393c41
}

p{
    font-size: 1.5em;
    margin: 55px 10vw 0;
    max-width: 80vw;

}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;


}

section h1{
    font-size: 6em;
    font-weight: 400;
    font-style: normal;
}

section .title-link{
    font-size: 2.2em;
}

section .button-1{
    background-color: #171A20cc;
    padding: 0.5em 0vw;
    width: 90vw;
    margin: 0 0 0 0;
    border-radius: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;


}

section .button-2{
    background-color: #FFFFFFA6;
    padding: 0.5em 0vw;
    width: 90vw;
    margin: 40px 0 0 0;
    border-radius: 100px;
    color: #171A20;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;

}

section img{
    width: 60px;
    margin: 40px; 0 0 0;
}


/*----------------BLOK 1-----------------*/

main > section:nth-child(1) {
    background-image: url(../images/mobile_model_3_v2.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
}

main section:nth-child(1) h1 {
    margin-top: 20vh;
    margin-bottom: 0px;
}

main > section:nth-child(1) > section:nth-child(1) {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    width: 100%;
}

/*----------------BLOK 2-----------------*/

main > section:nth-child(2) {
    background-image: url(../images/Mobile-ModelS.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
}

main > section:nth-child(2) > section:nth-child(1) {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 3-----------------*/

main > section:nth-child(3) {
    background-image: url(../images/Mobile-ModelX.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(3) > section:nth-child(1) {
    z-index: 4;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 4-----------------*/

main > section:nth-child(4) {
    background-image: url(../images/Mobile-ModelY.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(4) > section:nth-child(1) {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 5-----------------*/

main > section:nth-child(5) {
    background-image: url(../images/Mobile-SolarPanels.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(5) > section:nth-child(1) {
    z-index: 6;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

}

/*----------------BLOK 6-----------------*/

main > section:nth-child(6) {
    background-image: url(../images/Mobile-Accessories.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

main > section:nth-child(6) > section:nth-child(1) {
    z-index: 7;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------OVERLAY-----------------*/





/*----------------FOOTER-----------------*/


footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    z-index: 200;


}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    width: 80vw;
    font-size: 1em;
    text-align: center;
    margin: 20px 0 ;

/*    animation: fadeIn, ease 20s;*/
}






/*END OF HOME PAGE*/

/*START MODEL X PAGE*/





/*----------------BLOCK 1-----------------*/

#modelx main > section:nth-child(1) {
    background-image: none;
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    height: 150vh;
    z-index: 1;
}

main > section:nth-child(1) > section:nth-child(1) {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    width: 100vw;
}

video{
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    overflow-x: hidden;
}

/*----------------BLOCK 2-----------------*/

#modelx main > section:nth-child(2) {
    background-color: white;
    background-image: none;
    background-size: auto;
    margin: 0px;
    padding: 0px;
    pointer-events: none;

    flex-direction: row;
    z-index: 1;
    opacity: 1;
    width: 100%;
}

#modelx main > section:nth-child(2) > section:nth-child(1) {
    background-image: none;
    z-index: 2;
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    width: 100%;
}

#modelx main > section:nth-child(2){
}


#modelx main section #block2-1{
    z-index: 1;
    width: 30%;
    height: 30%;
/*    background-image: url(/images/safety-model-x-hero.png)*/
}

#modelx main section #block2-2{
    z-index: 1;
    width: 70%;
    background-image: url(/images/safety-model-x-hero.png)
}

/*----------------BLOK 3-----------------*/

#modelx main > section:nth-child(3) {
    background-image: url(/images/modelx-snow.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

#modelx main > section:nth-child(3) > section:nth-child(1) {
    z-index: 4;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 4-----------------*/

#modelx main > section:nth-child(4) {
    background-image: url(../images/Mobile-ModelY.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

#modelx main > section:nth-child(4) > section:nth-child(1) {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*----------------BLOK 5-----------------*/

#modelx main > section:nth-child(5) {
    background-image: url(/images/modelx-black.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

#modelx main > section:nth-child(5) > section:nth-child(1) {
    z-index: 6;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

}

/*----------------BLOK 6-----------------*/

#modelx main > section:nth-child(6) {
    background-image: url(../images/Mobile-Accessories.jpg);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
}

#modelx main > section:nth-child(6) > section:nth-child(1) {
    z-index: 7;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
}

/*keyframes*/

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}




/*fonts*/


@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('/fonts/Gotham-XLightItalic.woff') format('woff'),
        url('/fonts/Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('/fonts/Gotham-MediumItalic.woff') format('woff'),
        url('/fonts/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('/fonts/Gotham-LightItalic.woff') format('woff'),
        url('/fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BoldItalic.woff') format('woff'),
        url('/fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/fonts/Gotham-Medium.woff') format('woff'),
        url('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium_1.woff2') format('woff2'),
        url('/fonts/Gotham-Medium_1.woff') format('woff'),
        url('/fonts/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff2') format('woff2'),
        url('/fonts/Gotham-Light.woff') format('woff'),
        url('/fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff'),
        url('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff'),
        url('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('/fonts/Gotham-BookItalic.woff') format('woff'),
        url('/fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Thin.woff2') format('woff2'),
        url('/fonts/Gotham-Thin.woff') format('woff'),
        url('/fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-BookItalic_1.woff2') format('woff2'),
        url('/fonts/Gotham-BookItalic_1.woff') format('woff'),
        url('/fonts/Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff'),
        url('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-XLight.woff2') format('woff2'),
        url('/fonts/Gotham-XLight.woff') format('woff'),
        url('/fonts/Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('/fonts/Gotham-UltraItalic.woff') format('woff'),
        url('/fonts/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('/fonts/Gotham-ThinItalic.woff') format('woff'),
        url('/fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light_1.woff2') format('woff2'),
        url('/fonts/Gotham-Light_1.woff') format('woff'),
        url('/fonts/Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold_1.woff2') format('woff2'),
        url('/fonts/Gotham-Bold_1.woff') format('woff'),
        url('/fonts/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

